<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find oscar_control)/config/control.yaml" />

<node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="oscar_ackermann_controller oscar_imu_controller oscar_joint_publisher"/> 
  <!--  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="oscar_imu_controller"/> -->
  
</launch>
