<?xml version="1.0"?>
<launch>

  <arg name="config" default="oscar_v0"/>
  <arg name="start_hardware" default="true"/>
  <arg name="load_urdf" default="true"/>
  <arg name="start_description" default="true"/>
  <arg name="start_control" default="true"/>
  <arg name="start_teleop" default="false"/>
  <arg name="start_multimaster" default="false"/>
  
  <!-- Starts hardware interface -->
  <group if="$(arg start_hardware)">
    <node name="robot_hardware" pkg="oscar_control" type="oscar_hardware_interface_node" />
  </group>
  
  <!-- Load Oscar's description -->
  <group if="$(arg start_description)">
    <include file="$(find oscar_description)/launch/description.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="load_urdf" default="$(arg load_urdf)"/>
    </include>
  </group>
  
  <!-- launch controllers nodes -->  
  <group if="$(arg start_control)">
    <include file="$(find oscar_control)/launch/control.launch">
      <arg name="config" value="$(arg config)" />
    </include>
  </group>
  
  <!-- launch teleop node -->
  <group if="$(arg start_teleop)">
    <include file="$(find oscar_control)/launch/teleop.launch">
      <arg name="use_twist" value="false" />
      <arg name="use_ack" value="true" />
    </include>
  </group>

  <!-- lanch multi master discovery node -->
  <group if="$(arg start_multimaster)">
    <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  </group>
</launch>
