<?xml version="1.0"?>
<launch>

  <arg name="config" default="oscar_v0"/>


  <node name="robot_hardware" pkg="oscar_control" type="oscar_hardware_interface_node" />

  <!-- Load Oscar's description -->
  <include file="$(find oscar_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>
  
  <!-- launch controllers nodes -->  
  <include file="$(find oscar_control)/launch/control.launch" />
  
  <!-- launch teleop node -->
  <!-- no... we do that on the ground stations -->
  <include file="$(find oscar_control)/launch/teleop.launch">
    <arg name="use_twist" value="false" />
    <arg name="use_ack" value="true" />
  </include>

  <!-- lanch multi master discovery node -->
  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>

</launch>
