<?xml version="1.0"?>
<launch>
  <arg name="start_gazebo" default="true" />
  
  <!--  ****** Gazebo and robot therein *****  -->
  <group if="$(arg start_gazebo)">
    <include file="$(find oscar_gazebo)/launch/empty_world.launch">
      <arg name="gui" default="true"/>
      <arg name="robot_initial_loc" default="-x 1.5 -y 3.3 -z 0.02"/>
    </include>
  </group>
  
  <arg name="map" default="$(find rosmip_worlds)/maps/expe_z/track_ethz_cam1_new.yaml" />
  <arg name="path_filename" default="$(find two_d_guidance)/paths/demo_z/track_ethz_cam1_new.npz" />

  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen">
    <param name="frame_id" value="/map"/>
  </node>
  
  <!--  ****** World to map transform publisher *****  -->
  <!-- -->
  <node name="world_to_map_publisher" pkg="tf" type="static_transform_publisher"
        args="0 0 0  0 0 0 world map 100"/>
  <!-- -->

  <!--  ****** Navigation Filter *****  -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find oscar_gazebo)/cfg/gazebo_ekf.yaml" />
   <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
   <!--<remap from="/cmd_vel" to="/oscar_ackermann_controller/cmd_vel"/>-->
  </node>

  <!--  ****** Pure Pursuit Controller *****  -->
  <node name="pure_pursuit" pkg="two_d_guidance" type="pp_guidance_node.py" output="screen">
    <param name="twist_cmd_topic" value="oscar_ackermann_controller/cmd_vel"/>
    <!--<param name="ack_cmd_topic" value="oscar_ackermann_controller/cmd_ack"/>-->
    <param name="path_filename" value="$(arg path_filename)"/>
    <param name="vel_setpoint" value="0.06"/>
    <param name="look_ahead" value="0.3"/>
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find oscar_viz)/rviz/navigation.rviz" />

</launch>
