<?xml version="1.0"?>
<launch>
  <arg name="config" default="oscar_v0" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find oscar_description)/urdf/$(arg config).urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
